[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
htmlmin = "*"
tinydb = "*"
requests = "*"
"boto3" = "*"
smartypants = "*"
arrow = "*"
pylint = "*"
yapf = "*"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.7"
