<!-- START CFL SKED -->
<section style="padding-bottom: 0.8rem; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99A3A4;"
    class="pica-sans-serif">
    <div style="margin-bottom: 0.5rem;">
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 11 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 24: TOR 22 @ <b>MTL</b> 25 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 25: WPG 26 @ <b>CGY</b> 39 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 25: <b>SSK</b> 24 @ BC 21</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 12 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 31: <b>MTL</b> 21 @ OTT 11 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 2: WPG 23 @ <b>SSK</b> 31 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 3: EDM 20 @ <b>CGY</b> 23</div>
        </div>
    </div>
</section>
<!-- END CFL SKED -->