<!-- START CFL SKED -->
<section style="padding-bottom: 0.8rem; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99A3A4;"
    class="pica-sans-serif">
    <div style="margin-bottom: 0.5rem;">
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 10 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 17: <b>OTT</b> 44 @ WPG 21 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 18: BC 23 @ <b>TOR</b> 24 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 18: MTL 24 @ <b>EDM</b> 40 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 18: CGY 27 @ <b>SSK</b> 40</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 11 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 24: TOR @ MTL, 7:30pm | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 25: WPG @ CGY, 3:30pm | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 25: SSK @ BC, 10pm</div>
        </div>
    </div>
</section>
<!-- END CFL SKED -->