<!-- START CFL SKED -->
<section style="padding-bottom: 0.8rem; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99A3A4;"
    class="pica-sans-serif">
    <div style="margin-bottom: 0.5rem;">

        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 13 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 7: OTT 14 @ <b>BC</b> 26 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 8: <b>SSK</b> 32 @ WPG 27 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 8: CGY 42 @ <b>EDM</b> 48</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 14 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 14: BC @ MTL, 7:30pm | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Sept. 15: OTT @ SSK, 9:30pm | </div>
        </div>
    </div>
</section>
<!-- END CFL SKED -->