<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.35rem; font-size: 1.1rem;">2nd in East, home record: 2-2-0, away: 2-3-0, div: 1-1-0</p>
    <!--TABS START-->
    <section class="pica-tabs">
        <!--TABS CONTROLS START-->
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1">Next game</div>
            <div class="pica-tab-control" data-tab="2" data-tab-default="yes">Last game</div>
            <div class="pica-tab-control" data-tab="3">2018 season</div>
        </div>
        <!--TABS CONTROLS END-->
        <!--TABS PANELS START-->
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Toronto @ Hamilton, Sept. 3, 6:30 p.m.</p>
               <!-- <table class="pica-table pica-sans-serif">
                   <tr>
                        <th class="pica-table-cell">Team</th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Time of poss.</th>
                        <th class="pica-table-cell">Rush yds</th>
                        <th class="pica-table-cell">Pass yds</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">Ham (2-4)</td>
                        <td class="pica-table-cell">22</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">32:02</td>
                        <td class="pica-table-cell">95</td>
                        <td class="pica-table-cell">319</td>
                        <td class="pica-table-cell">395</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">MTL (1-5)</td>
                        <td class="pica-table-cell">15</td>
                        <td class="pica-table-cell">32</td>
                        <td class="pica-table-cell">26:06</td>
                        <td class="pica-table-cell">69</td>
                        <td class="pica-table-cell">223</td>
                        <td class="pica-table-cell">254</td>
                    </tr> 
                </table>
                <p style="font-size: 0.875rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="">Avg. per game in 2018 regular season</p>-->
            </div>
            <div class="pica-tab-panel" data-tab="2">  
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Edmonton 24 @ Hamilton 25: Aug. 23</p>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">1</th>
                        <th class="pica-table-cell">2</th>
                        <th class="pica-table-cell">3</th>
                        <th class="pica-table-cell">4</th>
                        <th class="pica-table-cell"><b>T</b></th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">EDM</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell">24</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell"><b>24</b></td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">10</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">12</td>
                        <td class="pica-table-cell"><b>25</b></td>
                  </tr>
                </table>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">Time</th>
                        <th class="pica-table-cell">1st downs</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">EDM</td>
                        <td class="pica-table-cell">24:37</td>
                        <td class="pica-table-cell">13</td>
                        <td class="pica-table-cell">112</td>
                        <td class="pica-table-cell">250</td>
                        <td class="pica-table-cell">344</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">35:23</td>
                        <td class="pica-table-cell">15</td>
                        <td class="pica-table-cell">138</td>
                        <td class="pica-table-cell">419</td>
                        <td class="pica-table-cell">552</td>
                    </tr> 
                </table>
               <h4 style="margin-top: 0.75rem; margin-bottom: 0.25rem;">Individual Statistics</h4>
                <p style="margin-bottom: 0.25rem;"><b>Rushing</b> – Edm: Gable 8-81, Reilly 4-32; Ham: A.Green 19-104, Masoli 5-27, Thomas-Erlington 1-7.</p>
                <p style="margin-bottom: 0.25rem;"><b>Receiving</b> – Edm: D&#8217;h.Williams 3-116, D.Walker 4-59, Gable 3-35, Adjei 1-30, Hazelston 2-13, Stafford 1-(minus 1), McCarty 1-(minus 2); Ham: Tasker 9-156, M.Jones 4-117, Toliver 3-52, C.Williams 3-33, Banks 3-27, Faubert-Lussier 2-18, A.Green 3-16.</p>
                <p style="margin-bottom: 0.25rem;"><b>Passing</b> – Edm: Reilly 15-25, 250 yards, 3 TDs, 0 ints; Ham: Masoli 27-44-419-1-2.</p>
            </div>
            <div class="pica-tab-panel" data-tab="3">
                <div style="display: flex; flex-wrap: wrap; margin: 0 -10px 0 -10px; font-size: 1rem; line-height: 1.2rem;" class="">
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">1. Saturday, June 16</td>
                            <td class="pica-table-cell">@ CGY</td>
                            <td class="pica-table-cell"><b>L 28-14</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">2. Friday, June 22</td>
                            <td class="pica-table-cell">@ EDM</td>
                            <td class="pica-table-cell"><b>W 38-21</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">3. Friday, June 29</td>
                            <td class="pica-table-cell">WPG</td>
                            <td class="pica-table-cell"><b>W 31-17</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">4. Thursday, July 5</td>
                            <td class="pica-table-cell">@ SSK</td>
                            <td class="pica-table-cell"><b>L 18-13</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">5. Thursday, July 19</td>
                            <td class="pica-table-cell">SSK</td>
                            <td class="pica-table-cell"><b>L 31-20</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">6. Saturday, July 28</td>
                            <td class="pica-table-cell">OTT</td>
                            <td class="pica-table-cell"><b>L 21-15</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">7. Friday, Aug. 3</td>
                            <td class="pica-table-cell">@ MTL</td>
                            <td class="pica-table-cell"><b>W 50-11</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">8. Friday, Aug. 10</td>
                            <td class="pica-table-cell">@ WPG</td>
                            <td class="pica-table-cell"><b>L 29-23</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">9. Thursday, Aug. 23</td>
                            <td class="pica-table-cell">EDM</td>
                            <td class="pica-table-cell"><b>W 25-24</b></td>
                        </tr>
                    </table>
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">10. Monday, Sept. 3</td>
                            <td class="pica-table-cell"><b>TOR</b></td>
                            <td class="pica-table-cell">6:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">11. Saturday, Sept. 8</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">1 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">12. Saturday, Sept. 15</td>
                            <td class="pica-table-cell"><b>CGY</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">13. Saturday, Sept. 22</td>
                            <td class="pica-table-cell"><b>@ BC</b></td>
                            <td class="pica-table-cell">10 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">14. Saturday, Sept. 29</td>
                            <td class="pica-table-cell"><b>BC</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">15. Friday, Oct. 12</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">16. Friday, Oct. 19</td>
                            <td class="pica-table-cell"><b>@ OTT</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">17. Saturday, Oct. 27</td>
                            <td class="pica-table-cell"><b>OTT</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">18. Saturday, Nov. 3L</td>
                            <td class="pica-table-cell"><b>MTL</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--TABS PANELS END-->
    </section>
    <!--TABS END-->

</section>
<!--STATS HEADER END-->