<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.35rem; font-size: 1.1rem;">Tied for 1st in East, home record: 3-2-0, away: 3-3-0, div: 3-1-0</p>
    <!--TABS START-->
    <section class="pica-tabs">
        <!--TABS CONTROLS START-->
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1">Next game</div>
            <div class="pica-tab-control" data-tab="2" data-tab-default="yes">Last game</div>
            <div class="pica-tab-control" data-tab="3">2018 season</div>
        </div>
        <!--TABS CONTROLS END-->
        <!--TABS PANELS START-->
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Calgary @ Hamilton, Sept. 15</p>
                <table class="pica-table pica-sans-serif">
                   <tr>
                        <th class="pica-table-cell">Team</th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Time of poss.</th>
                        <th class="pica-table-cell">Rush yds</th>
                        <th class="pica-table-cell">Pass yds</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">CGY (9-1)</td>
                        <td class="pica-table-cell">30</td>
                        <td class="pica-table-cell">17</td>
                        <td class="pica-table-cell">32:21</td>
                        <td class="pica-table-cell">105</td>
                        <td class="pica-table-cell">301</td>
                        <td class="pica-table-cell">391</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM (6-5)</td>
                        <td class="pica-table-cell">27</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">32:30</td>
                        <td class="pica-table-cell">117</td>
                        <td class="pica-table-cell">332</td>
                        <td class="pica-table-cell">432</td>
                    </tr>

                </table>
                <p style="font-size: 0.875rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="">Avg. per game in 2018 regular season</p>
            </div>
            <div class="pica-tab-panel" data-tab="2">  
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Hamilton 36 @ Toronto 25, Sept. 8</p>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">1</th>
                        <th class="pica-table-cell">2</th>
                        <th class="pica-table-cell">3</th>
                        <th class="pica-table-cell">4</th>
                        <th class="pica-table-cell"><b>T</b></th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">7</td>
                        <td class="pica-table-cell">8</td>
                        <td class="pica-table-cell">10</td>
                        <td class="pica-table-cell">11</td>
                        <td class="pica-table-cell"><b>36</b></td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">TOR</td>
                        <td class="pica-table-cell">6</td>
                        <td class="pica-table-cell">7</td>
                        <td class="pica-table-cell">6</td>
                        <td class="pica-table-cell">6</td>
                        <td class="pica-table-cell"><b>25</b></td>
                  </tr>
                </table>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">Time</th>
                        <th class="pica-table-cell">1st downs</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">28:46</td>
                        <td class="pica-table-cell">19</td>
                        <td class="pica-table-cell">117</td>
                        <td class="pica-table-cell">397</td>
                        <td class="pica-table-cell">409</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">TOR</td>
                        <td class="pica-table-cell">31:14</td>
                        <td class="pica-table-cell">21</td>
                        <td class="pica-table-cell">88</td>
                        <td class="pica-table-cell">295</td>
                        <td class="pica-table-cell">382</td>
                    </tr> 
                </table>
               <h4 style="margin-top: 0.75rem; margin-bottom: 0.25rem;">Individual Statistics</h4>
                <p style="margin-bottom: 0.25rem;"><b>Rushing</b> – Ham: Green 13-60, Masoli 8-51, Jones 1-10, Thomas Erlington 2-1. Tor: Wilder Jr. 11-76, Franklin 5-8, Betherl-Thompson 1-4.</p>
                <p style="margin-bottom: 0.25rem;"><b>Receiving</b> – Ham: Banks 6-153, Tasker 7-91, Green 3-44, Jones 2-19; Tor: Edwards 9-112, Green 8-97, Noel 4-53, Smith 2-17, Jackson 2-8, Cross 1-5, Wilder Jr. 1-3.</p>
                <p style="margin-bottom: 0.25rem;"><b>Passing</b> – Ham: Masoli 18-25, 307 yards, 4 TDs, 0 ints; Tor: Bethel-Thompson 27-42-295-2-1.</p>
            </div>
            <div class="pica-tab-panel" data-tab="3">
                <div style="display: flex; flex-wrap: wrap; margin: 0 -10px 0 -10px; font-size: 1rem; line-height: 1.2rem;" class="">
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">1. Saturday, June 16</td>
                            <td class="pica-table-cell">@ CGY</td>
                            <td class="pica-table-cell"><b>L 28-14</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">2. Friday, June 22</td>
                            <td class="pica-table-cell">@ EDM</td>
                            <td class="pica-table-cell"><b>W 38-21</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">3. Friday, June 29</td>
                            <td class="pica-table-cell">WPG</td>
                            <td class="pica-table-cell"><b>W 31-17</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">4. Thursday, July 5</td>
                            <td class="pica-table-cell">@ SSK</td>
                            <td class="pica-table-cell"><b>L 18-13</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">5. Thursday, July 19</td>
                            <td class="pica-table-cell">SSK</td>
                            <td class="pica-table-cell"><b>L 31-20</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">6. Saturday, July 28</td>
                            <td class="pica-table-cell">OTT</td>
                            <td class="pica-table-cell"><b>L 21-15</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">7. Friday, Aug. 3</td>
                            <td class="pica-table-cell">@ MTL</td>
                            <td class="pica-table-cell"><b>W 50-11</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">8. Friday, Aug. 10</td>
                            <td class="pica-table-cell">@ WPG</td>
                            <td class="pica-table-cell"><b>L 29-23</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">9. Thursday, Aug. 23</td>
                            <td class="pica-table-cell">EDM</td>
                            <td class="pica-table-cell"><b>W 25-24</b></td>
                        </tr>
                    </table>
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">10. Monday, Sept. 3</td>
                            <td class="pica-table-cell">TOR</td>
                            <td class="pica-table-cell"><b>W 42-28</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">11. Saturday, Sept. 8</td>
                            <td class="pica-table-cell">@ TOR</td>
                            <td class="pica-table-cell"><b>W 36-25</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">12. Saturday, Sept. 15</td>
                            <td class="pica-table-cell"><b>CGY</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">13. Saturday, Sept. 22</td>
                            <td class="pica-table-cell"><b>@ BC</b></td>
                            <td class="pica-table-cell">10 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">14. Saturday, Sept. 29</td>
                            <td class="pica-table-cell"><b>BC</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">15. Friday, Oct. 12</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">16. Friday, Oct. 19</td>
                            <td class="pica-table-cell"><b>@ OTT</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">17. Saturday, Oct. 27</td>
                            <td class="pica-table-cell"><b>OTT</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">18. Saturday, Nov. 3L</td>
                            <td class="pica-table-cell"><b>MTL</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--TABS PANELS END-->
    </section>
    <!--TABS END-->

</section>
<!--STATS HEADER END-->