<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sports pages curation tool</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    
    <!--  <link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
</head>
<body class="bg-light" style="padding-top: 72px;">
    {%- include 'includes/_navbar.html' -%}
    {%- block body %}{% endblock -%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

<!--     {% if (page == 'add_entry') or (page == 'view_entry') %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.8.0/basic/ckeditor.js"></script> -->
   
<!--     <script>
            CKEDITOR.replace( 'inputContent' );
            CKEDITOR.config.contentsCss = '/static/css/contents.css';
            CKEDITOR.config.disableNativeSpellChecker = false;
    </script> -->
<!--     {% endif %} -->

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.9.4/trumbowyg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.9.4/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
    <script type="text/javascript">
        $('#inputContent').trumbowyg({
            removeformatPasted: true,
            autogrow: true,
        });
    </script> -->
    <script>
        function templ(l) {
            var html = l.map(val => '<option value="' + val + '">' + val + "</option>");
            return html.join("")
        }

        function findProp(obj, key, out) {
            var i,
                proto = Object.prototype,
                ts = proto.toString,
                hasOwn = proto.hasOwnProperty.bind(obj);

            if ('[object Array]' !== ts.call(out)) out = [];

            for (i in obj) {
                if (hasOwn(i)) {
                    if (i === key) {
                        out.push(obj[i]);
                    } else if ('[object Array]' === ts.call(obj[i]) || '[object Object]' === ts.call(obj[i])) {
                        findProp(obj[i], key, out);
                    }
                }
            }

            return out;
        }
        $(function() {
            $(".test").select2(); // initialize
            var taxonomy = {
                News: {
                    Muncipal_Election: {
                        mayor: ["eisenberger", "graydon"],
                        wards: ["ward_1", "ward_2"]
                    }
                },
                Sports: {
                    Hockey: {
                        NHL: ["Leafs", "Habs", "Sabres"],
                        OHL: ["Bulldogs", "Rangers", "Storm"]
                    },
                    Football: {
                        CFL: ["Ticats", "Bombers", "Argos", "Stampeders"],
                        NFL: ["Bills", "Jets", "Giants", "Dolphins"]
                    }
                }
            };
            var nextUp = {
                sections: "categories",
                categories: "topics",
                topics: "tags"
            };

            var categories;
            var topics;

            $(".test").change(function() {
                var next_list = [];
                var chosen_list = $(this).val();
                // !!!! need to accomodate these values: 8807812__categories__Basketball
                // console.log("Current selection: ", chosen_list);
                // The current section:
                var currentMenuID    = String($(this).attr("id"));
                var string_parts     = currentMenuID.split("_");
                var currentMenuIDNum = string_parts[1];
                var currentMenuKind  = string_parts[0];
                var nextMenuID       = "#" + nextUp[currentMenuKind] + "_" + currentMenuIDNum;
                console.log("Next Menu ID is: ", nextMenuID);
                // Set next menu
                var $next_menu = $(nextMenuID);

                $.each(chosen_list, function(index, value) {
                console.log("Value is: ", value);
                var temp = findProp(taxonomy, value);
                if (currentMenuKind == "topics") {
                    var nextMenuItems = temp[0];
                } else {
                    var nextMenuItems = Object.keys(temp[0]);
                }
                $.each(nextMenuItems, function(index, value) {
                    next_list.push(value);
                }); // end inner each
                }); // end outer each
                console.log("Child list is: ", next_list);
                var html = templ(next_list);
                // console.log("HTML is: ", html);
                $next_menu.html(html);
            }); // end change
            $("#topics").trigger("change");
        });
            </script>
</body>
</html>