{% extends '_base.html' %} {% set active_page = 'about' %} {% block body %}
<main role="main" class="container">
<p>The CFL-Ticats page has two parts, a static top part that can contain any kind of content, and a curated list of article links for Hamilton, Niagara and Halton.</p>
<h2>Lineup</h2>
 <p>These are the items in the order they will appear on the World Cup page.<br>1. Check Draft checkbox to remove an item from the page.<br>
    2. Lock an item into a top position. 3. Save to commit changes.<br>
4. Deploy to update the page on thespec.com.</p>
</p>
    <p>Click an item to edit the title or description. This only affects the item as it appears on the Elections page. Errors should be fixed in Newsgate/DNN.</p>
</main>
{% endblock %}