{% extends '_base.html' %} {% set active_page = page_id %} {% block body %}
<main role="main" class="container">
    <p>NOTE: These items are archived. A user has set them to archive, or they are more than 30 days old.</p>
    <form action="/db_archives" method="post">
        <p>
            <button type="submit" class="btn btn-primary">Update Database</button>
        </p>
        <div class="list-group">
            {%- for item in data['items'] -%}
            {%- include 'includes/_data_list.html' -%}
            {%- endfor -%}
        </div>
    
    </form>
    <!--     <div class="">
        <a href="/add_entry" class="btn btn-primary my-2">Add an Entry</a>
        <a href="/view" class="btn btn-primary my-2">Search/Edit</a>
    </div> -->
</main>
{% endblock %}