{% extends '_base.html' %} {% set active_page = 'drafts' %} {% block body %}
<main role="main" class="container">
    <p>NOTE: These items are in draft ie they don't show on the Ticats-CFL page. A user has set them to draft, or they met certain preset conditions (draft-auto). Uncheck the checkboxes and click 'Update Database'' to remove from draft.</p>
    <form action="/drafts" method="post">
        <p>
            <button type="submit" class="btn btn-primary">Update Database</button>
        </p>
        <div class="list-group">
            {%- for item in data['items'] -%}
            {% include 'includes/_data_list.html' %}
            {% endfor %}
        </div>
    
    </form>
    <!--     <div class="">
        <a href="/add_entry" class="btn btn-primary my-2">Add an Entry</a>
        <a href="/view" class="btn btn-primary my-2">Search/Edit</a>
    </div> -->
</main>
{% endblock %}