<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.35rem; font-size: 1.1rem;">2nd in East, home record: 1-2-0, away: 2-2-0, div: 1-1-0</p>
    <!--TABS START-->
    <section class="pica-tabs">
        <!--TABS CONTROLS START-->
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1">Next game</div>
            <div class="pica-tab-control" data-tab="2" data-tab-default="yes">Last game</div>
            <div class="pica-tab-control" data-tab="3">2018 season</div>
        </div>
        <!--TABS CONTROLS END-->
        <!--TABS PANELS START-->
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Hamilton @ Winnipeg, Aug. 10, 8:30 p.m.</p>
               <!-- <table class="pica-table pica-sans-serif">
                   <tr>
                        <th class="pica-table-cell">Team</th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Time of poss.</th>
                        <th class="pica-table-cell">Rush yds</th>
                        <th class="pica-table-cell">Pass yds</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">Ham (2-4)</td>
                        <td class="pica-table-cell">22</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">32:02</td>
                        <td class="pica-table-cell">95</td>
                        <td class="pica-table-cell">319</td>
                        <td class="pica-table-cell">395</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">MTL (1-5)</td>
                        <td class="pica-table-cell">15</td>
                        <td class="pica-table-cell">32</td>
                        <td class="pica-table-cell">26:06</td>
                        <td class="pica-table-cell">69</td>
                        <td class="pica-table-cell">223</td>
                        <td class="pica-table-cell">254</td>
                    </tr> 
                </table>
                <p style="font-size: 0.875rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="">Avg. per game in 2018 regular season</p>-->
            </div>
            <div class="pica-tab-panel" data-tab="2">  
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Hamilton 50 @ Montreal 11: Aug. 3</p>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">1</th>
                        <th class="pica-table-cell">2</th>
                        <th class="pica-table-cell">3</th>
                        <th class="pica-table-cell">4</th>
                        <th class="pica-table-cell"><b>T</b></th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">28</td>
                        <td class="pica-table-cell">10</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">9</td>
                        <td class="pica-table-cell"><b>50</b></td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">MTL</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell">8</td>
                        <td class="pica-table-cell"><b>11</b></td>
                  </tr>
                </table>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">Time</th>
                        <th class="pica-table-cell">1st downs</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Total yards</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">32:50</td>
                        <td class="pica-table-cell">NA</td>
                        <td class="pica-table-cell">169</td>
                        <td class="pica-table-cell">352</td>
                        <td class="pica-table-cell">521</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">MTL</td>
                        <td class="pica-table-cell">27:10</td>
                        <td class="pica-table-cell">NA</td>
                        <td class="pica-table-cell">176</td>
                        <td class="pica-table-cell">107</td>
                        <td class="pica-table-cell">283</td>
                    </tr> 
                </table>
               <!-- <h4 style="margin-top: 0.75rem; margin-bottom: 0.25rem;">Individual Statistics</h4>
                <p style="margin-bottom: 0.25rem;"><b>Rushing</b> – Ott: Powell 15-47, T.Harris 3-15, Davis 2-3; Ham: White 8-25, Masoli 2-10, Thomas-Erlington 1-(minus-4).</p>
                <p style="margin-bottom: 0.25rem;"><b>Receiving</b> – Ott: Sinopoli 9-82, Powell 3-61, RJ.Harris 3-61, Ellingson 3-34, Spencer 4-18, Beaulieu 2-17; Ham: Saunders 8-154, Banks 9-113, Jones 4-36, Williams 2-22, Lawrence 2-18, Thomas-Erlington 1-9.</p>
                <p style="margin-bottom: 0.25rem;"><b>Passing</b> – Ott: T.Harris 23-35, 228 yards, 0 TDs, 0 ints, Davis 1-1-45-0-0; Ham: Masoli 26-38-352-1-1.</p>-->
            </div>
            <div class="pica-tab-panel" data-tab="3">
                <div style="display: flex; flex-wrap: wrap; margin: 0 -10px 0 -10px; font-size: 1rem; line-height: 1.2rem;" class="">
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">1. Saturday, June 16</td>
                            <td class="pica-table-cell">@ CGY</td>
                            <td class="pica-table-cell"><b>L 28-14</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">2. Friday, June 22</td>
                            <td class="pica-table-cell">@ EDM</td>
                            <td class="pica-table-cell"><b>W 38-21</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">3. Friday, June 29</td>
                            <td class="pica-table-cell">WPG</td>
                            <td class="pica-table-cell"><b>W 31-17</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">4. Thursday, July 5</td>
                            <td class="pica-table-cell">@ SSK</td>
                            <td class="pica-table-cell"><b>L 18-13</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">5. Thursday, July 19</td>
                            <td class="pica-table-cell">SSK</td>
                            <td class="pica-table-cell"><b>L 31-20</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">6. Saturday, July 28</td>
                            <td class="pica-table-cell">OTT</td>
                            <td class="pica-table-cell"><b>L 21-15</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">7. Friday, Aug. 3</td>
                            <td class="pica-table-cell">@ MTL</td>
                            <td class="pica-table-cell"><b>W 50-11</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">8. Friday, Aug. 10</td>
                            <td class="pica-table-cell"><b>@ WPG</b></td>
                            <td class="pica-table-cell">8:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">9. Thursday, Aug. 23</td>
                            <td class="pica-table-cell"><b>EDM</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                    </table>
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">10. Monday, Sept. 3</td>
                            <td class="pica-table-cell"><b>TOR</b></td>
                            <td class="pica-table-cell">6:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">11. Saturday, Sept. 8</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">1 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">12. Saturday, Sept. 15</td>
                            <td class="pica-table-cell"><b>CGY</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">13. Saturday, Sept. 22</td>
                            <td class="pica-table-cell"><b>@ BC</b></td>
                            <td class="pica-table-cell">10 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">14. Saturday, Sept. 29</td>
                            <td class="pica-table-cell"><b>BC</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">15. Friday, Oct. 12</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">16. Friday, Oct. 19</td>
                            <td class="pica-table-cell"><b>@ OTT</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">17. Saturday, Oct. 27</td>
                            <td class="pica-table-cell"><b>OTT</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">18. Saturday, Nov. 3L</td>
                            <td class="pica-table-cell"><b>MTL</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--TABS PANELS END-->
    </section>
    <!--TABS END-->

</section>
<!--STATS HEADER END-->