<!-- START CFL SKED -->
<section style="padding-bottom: 0.8rem; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99A3A4;"
    class="pica-sans-serif">
    <div style="margin-bottom: 0.5rem;">
        <!-- <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
            class="f6">Week 2 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 21: SSK 17 @ OTT 40 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 22: WPG 56, MTL 10 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 23: CGY 41, TOR 7</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
            class="f6">Week 3 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 28: OTT 14 @ CGY 24 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 29: BC 22 @ EDM 41 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 30: MTL 23 @ SSK 17</div>
        </div> 
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
            class="f6">Week 4 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 6: <b>OTT</b> 28 @ MTL 18 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 7: EDM 17 @ <b>TOR</b> 20 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 7: BC 19 @ <b>WPG</b> 41</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
            class="f6">Week 5 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 12: <b>CGY</b> 28 @ OTT 3 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 13: TOR 15 @ <b>EDM</b> 16 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 14: WPG 17 @ <b>BC</b> 20</div>
        </div>-->
 
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 7 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 26: <b>EDM</b> 44 @ MTL 23 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 27: TOR 14 @ <b>WPG</b> 40 | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">July 28: <b>CGY</b> 34 @ SSK 22</div>
        </div>
        <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;"
        class="f6">Week 8 | </div>
        <div style="display: flex; flex-wrap: wrap;" class="">
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 2: OTT @ TOR, 7pm | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 2: SSK @ EDM, 10pm | </div>
            <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">Aug. 4: BC @ CGY, 9pm</div>
        </div>
    </div>
</section>
<!-- END CFL SKED -->