<!-- START CFL SKED -->
<section style="padding-bottom: 0.8rem; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99A3A4;" class="pica-sans-serif">
  <div style="margin-bottom: 0.5rem;">
    <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;" class="f6">Week 2 | </div>
    <div style="display: flex; flex-wrap: wrap;" class="">
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 21: SSK 17 @ OTT 40 | </div>
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 22: WPG 56, MTL 10 | </div>
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 23: CGY 41, TOR 7</div>
    </div>
  </div>
  <div>
    <div style="font-size: 0.9rem; float: left; margin: 0; font-weight: 800; padding-right: 0.25rem; text-transform: uppercase;" class="f6">Week 3 | </div>
    <div style="display: flex; flex-wrap: wrap;" class="">
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 28: OTT @ CGY 9pm | </div>
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 29: BC @ EDM 10pm | </div>
      <div style="font-size: 0.9rem; margin: 0; padding-left: 0.25rem; padding-left: 0.25rem;" class="f6 bl-ns">June 30: MTL @ SSK 9pm</div>
    </div>
  </div>
</section>
<!-- END CFL SKED -->