<!-- START STANDINGS LIST -->
<section id="pica-standings" style="width: 100%;" class="order-1-ns w-25-ns pl3-ns">
    <h3 class="agate b mv1 ttu silver pica-sans-serif">Standings</h3>
    <div style="display: flex; flex-wrap: wrap;" class="">
        <table class="pica-table pica-sans-serif">
            <tr>
                <th class="pica-table-cell">East</th>
                <th class="pica-table-cell">W</th>
                <th class="pica-table-cell">L</th>
                <th class="pica-table-cell">T</th>
            </tr>
            <tr>
                <td class="pica-table-cell">Redblacks</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">2</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Ticats</td>
                <td class="pica-table-cell">2</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Argonauts</td>
                <td class="pica-table-cell">1</td>
                <td class="pica-table-cell">4</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Alouettes</td>
                <td class="pica-table-cell">1</td>
                <td class="pica-table-cell">4</td>
                <td class="pica-table-cell">0</td>
            </tr>
        </table>
        <table class="pica-table pica-sans-serif">
            <tr>
                <th class="pica-table-cell">West</th>
                <th class="pica-table-cell">W</th>
                <th class="pica-table-cell">L</th>
                <th class="pica-table-cell">T</th>
            </tr>
            <tr>
                <td class="pica-table-cell">Stampeders</td>
                <td class="pica-table-cell">5</td>
                <td class="pica-table-cell">0</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Eskimos</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">2</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Riders</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">2</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Bombers</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">0</td>
            </tr>
            <tr>
                <td class="pica-table-cell">Lions</td>
                <td class="pica-table-cell">2</td>
                <td class="pica-table-cell">3</td>
                <td class="pica-table-cell">0</td>
            </tr>
        </table>
    </div>
</section>
<!--END STANDINGS-->