<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.35rem; font-size: 1.1rem;">2nd in East, home record: 1-1-0, away: 1-2-0, div: 0-0-0</p>
    <!--TABS START-->
    <section class="pica-tabs">
        <!--TABS CONTROLS START-->
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1" data-tab-default="yes">Next game</div>
            <div class="pica-tab-control" data-tab="2">Last game</div>
            <div class="pica-tab-control" data-tab="3">2018 season</div>
        </div>
        <!--TABS CONTROLS END-->
        <!--TABS PANELS START-->
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Ottawa @ Hamilton, July 28, 4 p.m.</p>
               <!--  <table class="pica-table pica-sans-serif">
                      <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">1</th>
                        <th class="pica-table-cell">2</th>
                        <th class="pica-table-cell">3</th>
                        <th class="pica-table-cell">4</th>
                        <th class="pica-table-cell"><b>T</b></th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">SSK</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">4</td>
                        <td class="pica-table-cell">21</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell"><b>31</b></td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">7</td>
                        <td class="pica-table-cell">10</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell"><b>20</b></td>
                    </tr>
                   <tr>
                        <th class="pica-table-cell">Team</th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Time of poss.</th>
                        <th class="pica-table-cell">Rush yds</th>
                        <th class="pica-table-cell">Pass yds</th>
                        <th class="pica-table-cell">Net offence</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">OTT (3-2)</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">22</td>
                        <td class="pica-table-cell">33.37</td>
                        <td class="pica-table-cell">121</td>
                        <td class="pica-table-cell">348</td>
                        <td class="pica-table-cell">457</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM (2-3)</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">23</td>
                        <td class="pica-table-cell">30.49</td>
                        <td class="pica-table-cell">88</td>
                        <td class="pica-table-cell">224</td>
                        <td class="pica-table-cell">303</td>
                    </tr> 
                </table> 
                <p style="font-size: 0.875rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="">Avg. per game in 2018 regular season</p> -->
                <!-- 
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Net off.</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">SSK</td>
                        <td class="pica-table-cell">20</td>
                        <td class="pica-table-cell">24</td>
                        <td class="pica-table-cell">104</td>
                        <td class="pica-table-cell">205</td>
                        <td class="pica-table-cell">296</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">24</td>
                        <td class="pica-table-cell">21</td>
                        <td class="pica-table-cell">115</td>
                        <td class="pica-table-cell">345</td>
                        <td class="pica-table-cell">448</td>
                    </tr> 
                    </table>
                <h4 style="margin-top: 0.75rem; margin-bottom: 0.25rem;">Individual Statistics</h4>
                <p style="margin-bottom: 0.25rem;"><b>Rushing</b> – Ham: Masoli 5-60, Whitlock 3-18, Timmis 7-9, Jo.White 2-9; Sask: Watford 7-50, Thigpen 5-48, Bridge 3-30, Mason 3-12, Messam 4-10.</p>
                <p style="margin-bottom: 0.25rem;"><b>Receiving</b> – Ham: Banks 7-113, Toliver 3-70, Saunders 5-67, Tasker 4-49, M.Jones 3-22, Timmis 1-12; Sask: Thigpen 4-47, Roosevelt 2-37, Stanford 2-33, Evans 2-11, Messam 2-9, Moore 1-6, Williams-Lambert 1-5.</p>
                <p style="margin-bottom: 0.25rem;"><b>Passing</b> – Ham: Masoli 23-43, 333 yards, 0 TDs, 1 int; Sask: Bridge 11-13-101-0-0, Watford 3-6-47-0-0.</p> 
                 <p style="font-size: 0.875rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="">Avg. per game in 2018 regular season</p> -->
            </div>
            <div class="pica-tab-panel" data-tab="2">  
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0.25rem 0;">Sasktachewan 31 @ Hamilton 20: July 9</p>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">1</th>
                        <th class="pica-table-cell">2</th>
                        <th class="pica-table-cell">3</th>
                        <th class="pica-table-cell">4</th>
                        <th class="pica-table-cell"><b>T</b></th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">SSK</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">4</td>
                        <td class="pica-table-cell">21</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell"><b>31</b></td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">7</td>
                        <td class="pica-table-cell">10</td>
                        <td class="pica-table-cell">3</td>
                        <td class="pica-table-cell">0</td>
                        <td class="pica-table-cell"><b>20</b></td>
                  </tr>
                </table>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell"></th>
                        <th class="pica-table-cell">Time</th>
                        <th class="pica-table-cell">1st downs</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Total yards</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">SSK</td>
                        <td class="pica-table-cell">32:26</td>
                        <td class="pica-table-cell">17</td>
                        <td class="pica-table-cell">218</td>
                        <td class="pica-table-cell">178</td>
                        <td class="pica-table-cell">394</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM</td>
                        <td class="pica-table-cell">27:34</td>
                        <td class="pica-table-cell">15</td>
                        <td class="pica-table-cell">79</td>
                        <td class="pica-table-cell">184</td>
                        <td class="pica-table-cell">238</td>
                    </tr> 
                </table>
                <h4 style="margin-top: 0.75rem; margin-bottom: 0.25rem;">Individual Statistics</h4>
                <p style="margin-bottom: 0.25rem;"><b>Rushing</b> – Sask: Thigpen 1-80, Messam 3-70, Mason 7-51, Bridge 5-17, Watford 1-0; Ham: Jo.White 12-55, Masoli 3-24.</p>
                <p style="margin-bottom: 0.25rem;"><b>Receiving</b> – Sask: Williams-Lambert 6-57, Roosevelt 4-43, Evans 4-41, Holley 2-33, Thigpen 1-6, Mason 1-(minus 1), Stanford 1-(minus 1); Ham: Saunders 5-67, Lawrence 6-38, Banks 3-25, Toliver 3-23, M.Jones 2-20, Thomas-Erlington 1-11.</p>
                <p style="margin-bottom: 0.25rem;"><b>Passing</b> –  Sask: Bridge 17-22, 165 yards, 1 TD, 0 ints, Watford 2-3-13-0-0; Ham: Masoli 20-28-184-0-1.</p>
            </div>
            <div class="pica-tab-panel" data-tab="3">
                <div style="display: flex; flex-wrap: wrap; margin: 0 -10px 0 -10px; font-size: 1rem; line-height: 1.2rem;" class="">
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">1. Saturday, June 16</td>
                            <td class="pica-table-cell">@ CGY</td>
                            <td class="pica-table-cell"><b>L 28-14</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">2. Friday, June 22</td>
                            <td class="pica-table-cell">@ EDM</td>
                            <td class="pica-table-cell"><b>W 38-21</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">3. Friday, June 29</td>
                            <td class="pica-table-cell">WPG</td>
                            <td class="pica-table-cell"><b>W 31-17</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">4. Thursday, July 5</td>
                            <td class="pica-table-cell">@ SSK</td>
                            <td class="pica-table-cell"><b>L 18-13</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">5. Thursday, July 19</td>
                            <td class="pica-table-cell">SSK</td>
                            <td class="pica-table-cell"><b>L 31-20</b></td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">6. Saturday, July 28</td>
                            <td class="pica-table-cell"><b>OTT</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">7. Friday, Aug. 3</td>
                            <td class="pica-table-cell"><b>@ MTL</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">8. Friday, Aug. 10</td>
                            <td class="pica-table-cell"><b>@ WPG</b></td>
                            <td class="pica-table-cell">8:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">9. Thursday, Aug. 23</td>
                            <td class="pica-table-cell"><b>EDM</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                    </table>
                    <table class="pica-table pica-sans-serif" style="flex: 1; margin: 0 10px 0.25rem 10px; min-width: 300px;">
                        <tr>
                            <td class="pica-table-cell" style="width: 50%;">10. Monday, Sept. 3</td>
                            <td class="pica-table-cell"><b>TOR</b></td>
                            <td class="pica-table-cell">6:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">11. Saturday, Sept. 8</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">1 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">12. Saturday, Sept. 15</td>
                            <td class="pica-table-cell"><b>CGY</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">13. Saturday, Sept. 22</td>
                            <td class="pica-table-cell"><b>@ BC</b></td>
                            <td class="pica-table-cell">10 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">14. Saturday, Sept. 29</td>
                            <td class="pica-table-cell"><b>BC</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">15. Friday, Oct. 12</td>
                            <td class="pica-table-cell"><b>@ TOR</b></td>
                            <td class="pica-table-cell">7:30 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">16. Friday, Oct. 19</td>
                            <td class="pica-table-cell"><b>@ OTT</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">17. Saturday, Oct. 27</td>
                            <td class="pica-table-cell"><b>OTT</b></td>
                            <td class="pica-table-cell">4 pm</td>
                        </tr>
                        <tr>
                            <td class="pica-table-cell">18. Saturday, Nov. 3L</td>
                            <td class="pica-table-cell"><b>MTL</b></td>
                            <td class="pica-table-cell">7 pm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--TABS PANELS END-->
    </section>
    <!--TABS END-->

</section>
<!--STATS HEADER END-->