<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="">
    <p style="margin-bottom: 0.25rem; font-size: 1.25rem;">2nd in East, home record: 0-0-0, away: 1-1-0, div: 0-0-0</p>
    <section class="pica-tabs">
        <div class="pica-tab-controls">
            <div class="pica-tab-control" data-tab="1" data-tab-default="yes">Next game</div>
            <div class="pica-tab-control" data-tab="2">Last game</div>
            <div class="pica-tab-control" data-tab="3">2018 season</div>
        </div>
        <div class="pica-tab-panels pica-sans-serif">
            <div class="pica-tab-panel" data-tab="1">
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0 0;">Friday, June 29, 7pm @ Hamilton</p>
                <p style="font-size: 1rem; font-weight: 100; margin-top: 0.5rem; margin-bottom: 0.25rem;" class="f4">Avg. per game in 2018 regular season</p>
                <table class="pica-table pica-sans-serif">
                    <tr>
                        <th class="pica-table-cell">Team</th>
                        <th class="pica-table-cell">PF</th>
                        <th class="pica-table-cell">PA</th>
                        <th class="pica-table-cell">Rush</th>
                        <th class="pica-table-cell">Pass</th>
                        <th class="pica-table-cell">Total yards</th>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">WPG (1-1)</td>
                        <td class="pica-table-cell">43</td>
                        <td class="pica-table-cell">22</td>
                        <td class="pica-table-cell">191</td>
                        <td class="pica-table-cell">261</td>
                        <td class="pica-table-cell">452</td>
                    </tr>
                    <tr>
                        <td class="pica-table-cell" style="font-weight: 700;">HAM (1-1)</td>
                        <td class="pica-table-cell">26</td>
                        <td class="pica-table-cell">25</td>
                        <td class="pica-table-cell">126</td>
                        <td class="pica-table-cell">338</td>
                        <td class="pica-table-cell">464</td>
                    </tr>
                </table>    
            </div>
            <div class="pica-tab-panel" data-tab="2">
                <div style="display: flex; flex-wrap: wrap; align-items: flex-end; margin: 0 -10px 0 -10px;" class="">
                    <div style="margin: 0 10px 0 10px;" class="">
                        <p style="font-size: 1.25rem; font-weight: 200; margin-top: 0.35rem; margin-bottom: 0.25rem; display: flex; justify-content: space-between;" class="f4"><span style="padding-right: 0.25rem;" class="">Tiger-Cats</span><span>38</span></p>
                        <p style="font-size: 1.25rem; font-weight: 200; margin-top: 0.35rem; margin-bottom: 0.25rem; display: flex; justify-content: space-between;" class="f4 justify-between"><span style="padding-right: 0.25rem;" class="">Eskimos</span><span>21</span></p>
                    </div>
                    <div style="margin: 0 10px 0 10px;" class="">
                        <p style="font-weight: bold; margin-top: 0.25rem; margin-bottom: 0.25rem; text-transform: uppercase; color: #99A3A4;" class="agate">Rushing, total offence, time of poss., QB stats</p>
                        <p style="font-size: 1.25rem; font-weight: 100; margin-top: 0.35rem; margin-bottom: 0.25rem;" class="f4">196 yds, 528 yds, 35:46, Masoli 19-29 332 yds</p>
                        <p style="font-size: 1.25rem; font-weight: 100; margin-top: 0.35rem; margin-bottom: 0.25rem;" class="f4">62 yds, 348 yds, 24:14, Reilly 20-30 286 yds</p>
                    </div>
                </div>
                <p style="font-size: 1.1rem; margin: 0.25rem 0 0 0;">June 22 @ Edmonton</p>
            </div>
            <div class="pica-tab-panel" data-tab="3">
                <div style="display: flex; flex-wrap: wrap; margin: 0 -10px 0 -10px; font-size: 1rem; line-height: 1.2rem;" class="">
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">1. Saturday, June 16 @ CGY L 14-28</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">2. Friday, June 22 @ EDM W 38-21</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">3. Friday, June 29 WPG 7 pm</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">4. Thursday, July 5	@ SSK 9 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">5. Thursday, July 19 SSK 7:30 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">6. Saturday, July 28 OTT 4 pm</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">7. Friday, Aug. 3 @ MTL 7:30 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">8. Friday, Aug. 10	@ WPG 8:30 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">9. Thursday, Aug. 23 EDM 7:30 pm</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">10. Monday, Sept. 3 TOR 6:30 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">11. Saturday, Sept. 8 @ TOR	1 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">12. Saturday, Sept. 15	CGY	4 pm</p>
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">13. Saturday, Sept. 22	@ BC 10 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">14. Saturday, Sept. 29	BC 4 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">15. Friday, Oct. 12	@ TOR 7:30 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">16. Friday, Oct. 19	@ OTT 7 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">17. Saturday, Oct. 27 OTT 4 pm</p>	
                    <p style="margin: 0.25rem 10px 0.25rem 10px; min-width: 300px;">18. Saturday, Nov. 3 MTL 7 pm</p>
                </div>
            </div>
        </div>
    </section>

</section>
<!--STATS HEADER END-->