{% extends '_base.html' %} 

{% block body %}
<!--STATS HEADER START-->
<section id="stats_header" style="margin-bottom: 0.5rem;" class="mb2">

    <section style="padding-bottom: 0.5rem; border-bottom: 1px solid #000; font-family: serif;">
      <div style="float: left; margin: 0; padding-right: 0.5rem; font-weight: bold; text-transform: uppercase; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="fl f6 ma0 b pr2 ttu">Week 2</div>
      <div style="display: flex; flex-wrap: wrap;">
        <div style="margin: 0; padding-right: 0.5rem; padding-left: 0.5rem; border-left: 1px solid #000;">June 21: SSK @ OTT, 7:30pm</div>
        <div style="margin: 0; padding-right: 0.5rem; padding-left: 0.5rem; border-left: 1px solid #000;">June 22: WPG @ MTL, 7pm</div>
        <!-- <div class="f6 ma0 ph2 bl-ns">June 16: HAM @ CGY, 7pm</div> -->
        <div style="margin: 0; padding-right: 0.5rem; padding-left: 0.5rem; border-left: 1px solid #000;">June 23: CGY @ TOR, 7pm</div>
      </div>
    </section>
    <!--END 1 -->

    <section class="flex flex-wrap pt2 pb3 bb b--black-10 sans-serif">

      <div class="br-ns b--black-20 pr3">
        <p class="agate b mv1 ttu silver">last game</p>
        <p class="f4 fw2 mv1 flex justify-between"><span class="pr1">Tiger-Cats</span><span>14</span></p>
        <p class="f4 fw2 mv1 flex justify-between"><span class="pr1">Stampeders</span><span>28</span></p>
        <p class="f6 mt2 mb0 dn db-ns">June 16 @ Calgary</p>
      </div>

      <div class="pl3">
        <p class="agate b mv1 ttu">next game</p>
        <p class="f4 mv1">Tiger-Cats <small>(0-1)</small></p>
        <p class="f4 mv1">Eskimos <small>(1-0)</small></p>
        <p class="f6 mt2 mb0">June 22, 10pm @ Edmonton</p>
      </div>

      <div class="pl3 dn db-ns">
        <p class="agate b mv1 ttu silver">How they compare (per game)</p>
        <p class="f4 fw1 mv1 mt1">14 pts, 56 rushing yards, 385 total yards</p>
        <p class="f4 fw1 mv1">33 pts, 79 rushing yards, 481 total yards</p>
        <p class="f6 mt2 mb0 dn db-ns"></p>
      </div>

    </section>
    <!--END 2 -->

    </section>
    <!--STATS HEADER END-->
    {% endblock body %}